* {
  margin: 0;
  padding: 0;
}
/*hero section*/
.container {
  width: 1170px;
  margin: 0 auto;
}
.hero {
  height: 100vh;
  width: 100%;
  background-image: url(../images/banner/banner3.png);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
}
.hero-content {
  text-align: right;
}
.hero-content h1 {
  font-family: "Roboto", sans-serif;
  font-size: 70px;
  color: #ffffff;
}
.hero-content p {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  color: #ffffff;
  margin-top: 8px;
  line-height: 22px;
}
.hero-content button {
  color: #0765af;
  background-color: #fff;
  border: none;
  font-size: 24px;
  font-family: roboto;
  padding: 13px 20px 15px 20px;
  margin-top: 25px;
  border-radius: 5px;
}
/*failure section*/
.failure {
  display: flex;
  align-items: center;
  height: 100vh;
  width: 100%;
  margin-left: 100px;
  margin-top: 60px;
}
.failure-content {
  text-align: left;
  margin-left: 200px;
  margin-top: 265px;
  margin-bottom: 0px;
}
.failure-content h2 {
  font-family: "Roboto", sans-serif;
  font-size: 40px;
}
.failure-content p {
  font-family: "Roboto", sans-serif;
  color: rgb(103, 94, 94);
  margin-top: 20px;
}
.failure-content ul {
  list-style: none;
  color: rgb(103, 94, 94);
  margin-top: 20px;
  margin-left: 3px;
}
.failure-content ul li {
  font-family: "Roboto", sans-serif;
  margin-bottom: 5px;
}
.failure-content ul li i {
  color: green;
}
/*plan section*/
.plan-heading {
  text-align: center;
  margin-top: 200px;
  font-size: 30px;
}
.plan {
  font-family: "Roboto", sans-serif;
  margin-bottom: 80px;
}
.plan-content {
  display: flex;
  margin-top: 30px;
  text-align: center;
}
.plan-info {
  margin-left: 190px;
  margin-top: 20px;
}
.info-title {
  color: rgb(29, 26, 26);
  margin-top: 10px;
}
.info-description {
  color: rgb(154, 133, 133);
  margin-top: 5px;
  font-size: 16px;
}
/*positive section*/
.positive-content {
  width: 100%;
  height: 100%;
  background-image: url(../images/gradient1.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.positive-info {
  padding-top: 40px;
  padding-bottom: 50px;
  padding-left: 30px;
}
.positive {
  align-items: left;
  font-size: 40px;
  background-image: url(../images/watch.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.positive-info h1 {
  color: #ffffff;
  font-size: 35px;
  font-family: "Roboto", sans-serif;
}
.positive-info button {
  color: #0765af;
  background-color: #fff;
  border: none;
  font-size: 30px;
  font-family: roboto;
  padding: 13px 20px 15px 20px;
  margin-top: 25px;
  border-radius: 5px;
}
form {
  max-width: 420px;
  margin: 50px auto;
}
input {
  color: white;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 18px;
  border-radius: 5px;
  line-height: 22px;
  background-color: #fff;
  border: 2px solid #fbf6f6;
  transition: all 0.3s;
  padding: 13px;
  margin-bottom: 15px;
  width: 100%;
  box-sizing: border-box;
  outline: 0;
}
textarea {
  height: 150px;
  line-height: 150%;
  resize: vertical;
  color: #f3f7f9;
  box-sizing: border-box;
  background-color: #f3f7f9;
  border: 2px solid #fbf6f6;
  font-size: 20px;
}
button {
  color: #181919;
  background-color: rgb(242, 241, 247);
  border: none;
  font-size: 20px;
  font-family: roboto;
  padding: 13px 20px 15px 20px;
  margin-top: 20px;
  margin-left: 200px;
  border-radius: 5px;
  margin-bottom: 5px;
}
/*footer section*/
.footer {
  display: flex;
  gap: 100px;
  background-color: #1f1d1c;
  padding: 130px 200px;
  align-items: left;
  margin-top: 100px;
  font-family: "Roboto", sans-serif;
}
.footer h1 {
  color: #ffffff;
  align-items: left;
  margin-bottom: 10px;
}
.footer p {
  color: #ffffff;
  align-items: left;
  text-align: left;
}
.footer h2 {
  color: #ffffff;
  align-items: right;
  margin-bottom: 15px;
  margin-left: 200px;
}
.footer button {
  color: #f3f7f9;
  background-color: rgb(56, 10, 239);
  border: none;
  font-size: 20px;
  font-family: roboto;
  padding: 13px 20px 15px 20px;
  margin-top: 40px;
  margin-left: 200px;
  border-radius: 5px;
}
.footer input {
  margin-top: 30px;
  height: 40px;
  width: 100%;
  padding: 10px;
  margin-left: 200px;
  background-color: transparent;
  border: 1px solid #ffffff;
  color: #fff;
}
.footer a {
  margin-right: 10px;
}

.contact-us {
  margin-top: 80px;
  background-color: #0765af;
}

.contact-us-title {
  text-decoration: underline;
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
  color: #fff;
  font-size: 35px;
  font-family: roboto;
}
